{%extends 'main/base.html'%}
{%block ref%}
	{%load static%}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Tourist Places in Mumbai" />
		<link rel="shortcut icon" href="assets/icons/tourist.ico" />
		<title>Tourist Places in Mumbai</title>
		<style>
			img{
				padding: 0px;
				width:250px;
				height: 250px;
				border-radius: 6px;
				box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
			}
			/* For mobile view of navbar and footer */
			@media screen and (max-width: 600px) {
				.navbar {
					width: 110%;
				}
				.footr {
					width: 110%;
				}
			}
		</style>
{%endblock%}
	{%block js%}
			<script>
			window.addEventListener
			('scroll', function()
				{
					var nav = document.querySelector('nav');
					nav.classList.add('opaque');
				}
			);
			</script>
	{%endblock%}

{%block content%}


	<h1 style="text-align: center; font-size: 50px;padding:37px"><span>PLACES  TO  VISIT  IN  BANDRA</span></h1>

		<div class="col-container" id="jogger_park">

			<div class="col">
				<h2 style="padding: 0px 10px; text-align: center;">JOGGER'S PARK</h2>
				<a href="https://www.google.com/maps?q=joggers+park&rlz=1C1CHZN_enIN992IN992&sxsrf=AJOqlzUzkdCvWhIfOtDhq70tQHi2WxElxg:1678640908823&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMgQIIxAnMhAILhCxAxCDARDHARCvARBDMg0ILhCxAxCDARDJAxBDMgQIABBDMgsIABCABBCxAxCDATILCAAQgAQQsQMQgwEyBAgAEEMyBAgAEEMyBQguEIAEMgsILhCABBDHARCvAToHCCMQ6gIQJzoMCAAQ6gIQtAIQQxgBOhsILhDHARCvARDqAhC0AhBDEIsDEKgDEKYDGAE6DwgAEOoCELQCEEMQiwMYAToECC4QJzoKCC4QxwEQrwEQQzoECC4QQzoICAAQsQMQgwE6CAguELEDEIMBOgcILhCxAxBDOgoIABCxAxCDARBDOgoILhCxAxCDARBDOgcIABCxAxBDSgQIQRgAUABYoQ5g9RZoAXABeACAAdABiAHbCZIBBTAuNy4xmAEAoAEBsAEUuAECwAEB2gEGCAEQARgB&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiOi7nc8Nb9AhUa2HMBHSngBTIQ_AUoAXoECAEQAw"><img src="{%static 'images\joggerS.jpg'%}"alt="JOGGERS PARK"></a>
			</div>

			<div class="col"><br><br>
				<p style="padding: 40px 20px;">Jogger's Park is a seaside jogging track along with a park in Bandra, Mumbai. It is situated at the southern end of the Carter Road. The park was opened to the public on 27 May 1990 and receives more than 2000 visitors on weekdays and double the number on Sundays.[1] Its jogging track is 400 metres long. It features a mud strip for running and two paved tracks for walking or jogging.[2]

                    Development of the park is credited to the city's veteran hockey coach and former corporator, Oliver Andrade.[3] Andrade's effort to rope in films star Dilip Kumar and Sunil Dutt, transformed the site from a dumping ground into a jogging track. The movie star's fund raising efforts led to financial assistance from the Rahejas, the Lokhandwalas and the Rizvi builders at a cost of ₹4 crore.[4] In his memory, a plaque at the entrance of the park reads "From Sir with Love". Mumbai's first laughter club was launched at Joggers Park.[citation needed]
                    
                    On 11th Feb 2022, the BMC passed a proposal to rename the Jogger's Park as Sir Oliver Andrade Park.[5]</p>
			</div>
		</div>


		<div class="col-container" style="background-color: #efefef;">

			<div class="col"><br><br>
				<p style="padding: 20px 20px;">Officially the Basilica of Our Lady of the Mount Bandra, colloquially known as Mount Bandra and Mount St Mary Church, is a basilica of the Latin Church in India, located in the Bandra neighbourhood of Bombay. The festival of the nativity of St Mary, also known as Marymas or the Bandra Fest, is celebrated here on the 8th day of September, which is the occasion of the birth of the virgin-mother of Jesus Christ. The annual feast is followed by a week-long fair or fete known in the Konkan region as the "Bandra fair", which is visited by thousands of tourists, pilgrims& devotees every year. Pope Pius XII granted a decree of canonical coronation to its venerated Marian icon on 21 October 1954, both signed and notarised by Cardinal Giovanni Battista Montini of the Sacred Congregation of Rites. The image of the Virgin and Child was then crowned on 5 December 1954 by Cardinal Valerian Gracias.</p>
			</div>

			<div class="col" id="Basilica">
				<h2 style="padding: 0px 10px; text-align: center;">BASILICA OF OUR LADY OF THE MOUNT</h2>
				<a href="https://www.google.com/maps?rlz=1C1CHZN_enIN992IN992&sxsrf=AJOqlzUzkdCvWhIfOtDhq70tQHi2WxElxg:1678640908823&uact=5&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCC4QrwEQxwEQQzILCC4QgAQQxwEQrwEyCwguEIAEEMcBEK8BMgUIABCABDIFCAAQgAQyCwguEIAEEMcBEK8BMgsILhCABBDHARCvATILCC4QgAQQxwEQrwEyCwguEIAEEMcBEK8BMgUIABCABDoHCCMQ6gIQJzoMCAAQ6gIQtAIQQxgBOhsILhDHARCvARDqAhC0AhBDEIsDEKYDEKgDGAE6GwguEMcBEK8BEOoCELQCEEMQiwMQqAMQpgMYAToPCAAQ6gIQtAIQQxCLAxgBSgQIQRgAUABYnwJglwdoAXABeACAAbUBiAG1AZIBAzAuMZgBAKABAaABArABFLgBAsABAdoBBggBEAEYAQ&q=Basilica+of+Our+Lady&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiBxuX68db9AhU-BLcAHVQTAeQQ_AUoAnoECAEQBA"><img src="{%static 'images\basilica.jpg'%}" alt="BASILICA"></a>
			</div>
		</div>

		<div class="col-container" id="Sea-link">

			<div class="col">
				<h2 style="padding: 0px 10px; text-align: center;">BANDRA-WORLI SEA LINK</h2>
				<a href="https://www.google.com/maps/place/19%C2%B002'11.0%22N+72%C2%B049'01.9%22E/@19.0364,72.8172,15z/data=!4m4!3m3!8m2!3d19.0364!4d72.8172?hl=en"><img src="{%static 'images\bandralink.jpg'%}" alt="SEA LINK"></a>
			</div>

			<div class="col"><br><br>
				<p style="padding: 40px 20px;">There might not be a Bollywood movie shot in Mumbai and have missed a scene of the famous yet magnificent Bandra-Worli Sea Link. The total length of this sea link is about 5,600 m. The construction was supposedly started in the year 2000 and it took a few years to complete. It is simply meant to connect Bandra to Worli just like the name suggests and to this recent day, the said Bandra-Worli Sea Link is nothing but an adorable man-made wonder in the heart of this fascinating yet mesmerising Mumbai city. Many would use this as a gateway to avoid the rush and traffic while some would just like to take a ride here to have an experience of their lifetime. Nevertheless, this has to be certainly one of the best places to visit in Bandra you shouldn’t be missing to witness while you are in Mumbai</p>
			</div>
		</div>


		<div class="col-container" style="background-color: #efefef;">

			<div class="col"><br><br>
				<p style="padding: 20px 20px;">The Bandstand Promenade, also known as Bandra Bandstand is a 1.2 kilometer long walkway along the sea on the western coast of Mumbai, India in the neighborhood of Bandra.[1] It is simultaneously a popular hangout spot, a jogging track and a park.[2]

					Towards the Land's End side of the promenade is an amphitheater. It serves as a venue for the Mumbai Festival, Celebrate Bandra and other events including concerts, classical dance and other performances. The 'Artist's Court' is another performance venue built into the promenade that witnesses public Jam sessions on Sundays.</p>
			</div>

			<div class="col" id="BANDSTAND">
				<h2 style="padding: 0px 10px; text-align: center;">BANDSTAND PROMENADE</h2>
				<a href="https://www.google.com/maps/place/19%C2%B002'33.8%22N+72%C2%B049'08.9%22E/@19.042718,72.819132,12z/data=!4m4!3m3!8m2!3d19.042718!4d72.819132?hl=en"><img src="{%static 'images\bandra-bandstand.jpg'%}" alt="BASILICA"></a>
			</div>
		</div>


		<div class="bandramap" id = "bandra" style="padding-left:10px;">
			<h2> Map of Bandra Region </h2>
			{{m |safe}}
		</div>

		<div class="footr" style="background-color: #343a40; height: 100px"><br>
			<p class="footer" style="color: white; text-align: center;">Project still in development Phase
			</p>
		</div>

		<!-- Scroll to Top Button Reference -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<button onclick="scrollToTop()" id="myBtn" title="Go to top">&#x25B2;</button>
		<script src="assets/javascript/myJavaScript.js"></script>	
{%endblock%}
		{% block link%}<li><a href="#bandra"><i class="material-icons md-18 md-light">map</i> MAP</a></li>{%endblock%}